/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/

.env
master.key
.DS_Store
# Ignore engine migrations copied to dummy app
test/dummy/db/migrate/*.aven.rb
test/dummy/db/migrate/*.active_storage.rb
