<div class="rounded-lg border p-4 <%= variant_classes %>" data-variant="<%= variant %>">
  <% if title.present? %>
    <h5 class="font-medium mb-1"><%= title %></h5>
  <% end %>
  <div class="text-sm"><%= message %></div>
</div>
