<% if label.present? %>
  <div class="relative my-6">
    <div class="absolute inset-0 flex items-center">
      <div class="w-full border-t border-gray-200"></div>
    </div>
    <div class="relative flex justify-center text-sm">
      <span class="px-2 bg-white text-gray-500"><%= label %></span>
    </div>
  </div>
<% else %>
  <hr class="my-6 border-gray-200">
<% end %>
